* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: linear-gradient(0deg, #f3e579, #ebebea 60%);
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 80px;
  margin: 0 25px 0 0;
  font-size: 16px;
}

.description h1 {
  font-weight: bold;
  font-size: 8em;
  font-family: "Poppins", serif;
  background: linear-gradient(305deg, #4e5c71, #748297 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 15px 0;
}

.description p {
  font-size: 4em;
  font-weight: bold;
  font-family: "Poppins", serif;
}

.logo img {
  border-radius: 8px;
  transform: rotate(10deg);
}

/* Mission Container */

.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 150px 0;
}

.mission-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 715px;
  font-size: 18px;
  gap: 15px;
}

.mission-description p {
  font-family: "Poppins", serif;
  font-size: 1em;
}

.mission-description img {
  border-radius: 8px;
  transform: rotate(4deg);
}

/* Projects */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Poppins", serif;
  padding: 0 0 16px 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 26px;
  margin: 16px 0 0 0;
}

.projects div {
  width: 600px;
  border-radius: 10px;
}

.projects a img {
  width: 100%;
  border-radius: 10px;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 0;
  font-size: 1em;
  min-height: 86px;
}

.link-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  font-size: 1.2em;
}

.github-link {
  display: flex;
  align-items: center;
  color: #874af6;
  text-decoration: none;
  border: 1px solid #874af6;
  border-radius: 6px;
  padding: 2px 10px;
}

.github-icon {
  font-size: 1em;
}

.github-link:hover {
  transition: all 0.2s ease;
  background-color: #864af64d;
}

.demo-link {
  display: flex;
  align-items: center;
  color: #d10b0b;
  text-decoration: none;
  border: 1px solid #d10b0b;
  border-radius: 6px;
  padding: 2px 10px;
}

.demo-icon {
  font-size: 1em;
}

.demo-link:hover {
  transition: all 0.2s ease;
  background-color: #d10b0b4d;
}

.icon-text {
  font-size: 0.8em;
  margin-left: 5px;
  color: black;
}

/* Responsive */

@media screen and (max-width: 2000px) {

  header {
    margin-top: 80px;
  }

  .description {
    font-size: 12px;
    line-height: 55px;
  }

  .logo img {
    width: 150px;
    height: 150px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1400px) {
  .projects div {
    width: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .mission-description {
    margin: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .mission-description {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {

  .mission-container {
    margin: 135px 0;
  }

  .mission-description {
    font-size: 16px;
  }

  .mission-description img {
    width: 140px;
    height: 140px;
  }

  .description {
    font-size: 10px;
    line-height: 45px;
  }

  .logo img {
    width: 130px;
    height: 130px;
  }

  .projects-container {
    font-size: 14px;
  }

  .projects div {
    width: 356px;
  }
}