* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(0deg, #f3e579, #ebebea 60%);
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 80px;
  margin: 0 25px 0 0;
  font-size: 16px;
}

.description h1 {
  font-weight: bold;
  font-size: 8em;
  font-family: "Poppins", serif;
  background: linear-gradient(305deg, #4e5c71, #748297 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 15px 0;
}

.description p {
  font-size: 4em;
  font-weight: bold;
  font-family: "Poppins", serif;
}

.logo img {
  border-radius: 8px;
  transform: rotate(10deg);
}

/* Mission Container */

.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 150px 0;
}

.mission-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 715px;
  font-size: 18px;
  gap: 15px;
}

.mission-description p {
  font-family: "Poppins", serif;
  font-size: 1em;
}

.mission-description img {
  border-radius: 8px;
  border: 2px outset #f7df1e;
  transform: rotate(4deg);
}

/* Projects */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Poppins", serif;
}

.projects-container h1 {
  font-size: 2.5em;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 16px 0 0 0;
}

.projects div {
  width: 600px;
  border-radius: 10px;
}

.projects a img {
  width: 100%;
  border-radius: 10px;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  font-size: 1em;
}

.link-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  padding: 20px 0 0 0;
  font-size: 1.2em;
}

.link-icons a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px 10px;
}

.link-icons a:hover {
  transition: all 0.2s ease;
  background-color: #ebebea86;
}

.icon {
  font-size: 1em;
}

.icon-text {
  font-size: 0.8em;
  margin-left: 5px;
}